.wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  z-index: 999999;
}

.toastWrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 12px 16px 0;
}

@media (min-width: 500px) {
  .toastWrapper {
    right: unset;
    max-width: 300px;
    padding: 14px 0 0 16px;
  }
}

.toast {
  border-radius: 8px;
  padding: 12px 16px;
  background: #fff;
  box-shadow: 0 12px 24px rgba(34, 34, 34, 0.2);
}

@media (prefers-reduced-motion: no-preference) {
  .toastWrapper {
    transition: bottom 0.3s;
    animation: appear 0.25s ease-out;
  }

  .toastWrapper[data-hide] {
    animation: hide 0.3s ease-in forwards;
  }

  @keyframes appear {
    from {
      transform: translate(0, 100px);
      opacity: 0;
    }
    to {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  @keyframes hide {
    from {
      transform: translate(0, 0);
      opacity: 1;
    }
    to {
      transform: translate(0, -40px);
      opacity: 0;
    }
  }
}
